.matcha {
  background-color: #7a8450;
  color: #f7efda;
}
.vanilla {
  background-color: #f7efda;
  color: #7a8450;
}
.center {
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  height: 100dvh;
}
body {
  margin: 0;
}
nav {
  width: 100%;
  top: 0px;
  padding: min(0.5em, 8%);
  position: fixed;
}

nav a {
  width: 100%;
  font-size: 1.125rem;
  color: #f7efda;
  text-decoration: none;
  padding: 1rem;
}
header {
  height: 500px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: min(5em, 8%);
  margin: 0;
}

h1 {
  font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
  color: #f7efda;
}
p,
ul {
  font-size: 1.125rem;
}
.intro {
  float: left;
  width: 100%;
  padding: min(5em, 8%);
  box-sizing: border-box;
  color: #f7efda;
}
.intro-2 {
  float: right;
  width: 100%;
  padding: min(5em, 8%);
}

main {
  width: 100%;
  overflow: hidden;
}

#tech {
  float: left;
  width: 50%;
  padding: min(5em, 8%);
  box-sizing: border-box;
}

#human {
  float: right;
  width: 50%;
  padding: min(5em, 8%);
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /*-or :contain */
  background-size: contain;
}

/*Blog Posts structure*/

#post-h1 {
  text-align: center;
  margin-bottom: 3px;
}
#post-h2 {
  text-align: center;
  margin: 0;
}

.blog-post {
  margin: auto;
  padding: min(5em, 8%);
  display: block;
  width: 80%;
}

.blog-post > h3 {
  text-align: center;
  padding: 0.5rem;
}

.blog-post > p {
  text-align: left;
  padding: 0.5rem;
}

.references {
  padding: 10px;
}
/*CSS-HTML Specific*/

#example-1 {
  padding: 1rem;
}

/*.container {
  margin: 5px;
  height: 170px;
  width: 180px;
  display: ;
  border: 1px solid #614e40;
  padding: 10px;
}

.blue-block,
.yellow- block,
.block-3 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.block-1 {
  background-color: #bbcfcf;
}

.block-2 {
  background-color: #ebc294;
}

.block-3 {
  background-color: #e8a997;
}*/
