.matcha {
  background-color: #7a8450;
  color: #f7efda;
}
.vanilla {
  background-color: #f7efda;
  color: #7a8450;
}
.center {
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  height: 100dvh;
}
body {
  margin: 0;
}
nav {
  width: 100%;
  top: 0px;
  padding: min(0.5em, 8%);
  position: fixed;
}

nav a {
  width: 100%;
  font-size: 1.125rem;
  color: #f7efda;
  text-decoration: none;
  padding: 1rem;
}
header {
  height: 500px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: min(5em, 8%);
  margin: 0;
}

h1 {
  font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
  color: #f7efda;
}
p {
  font-size: 1.125rem;
}
.intro {
  float: left;
  width: 100%;
  padding: min(5em, 8%);
  box-sizing: border-box;
  color: #f7efda;
}
.intro-2 {
  float: right;
  width: 100%;
  padding: min(5em, 8%);
}

img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover; /*-or :contain */
}

/*HTML-CSS blog post Sprint 2,*/

#h1-CSS-P {
  text-align: center;
  margin-bottom: 3px;
}
#h2-CSS-P {
  text-align: center;
  margin: 0;
}
